{
  "extends": ["nebenan-base"],
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "rules": {
    "valid-typeof": "off"
  }
}
